body {
	background: url(../img/login-bg4.jpg);
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
	height: 100%;
	max-height: 100%;
}


#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../img/login-box-backg.png) no-repeat left top;
	margin-left: -266px;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	font-size: 11px;
	margin-right: 29px;
	float:right;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

#login-box .notification {
        position: relative;
        margin: 10px 0 5px 0;
        padding: 0;
        border: 1px solid;
        background-position: 10px 11px !important;
        background-repeat: no-repeat !important;
        font-size: 13px;
        width: 99.8%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#login-box .information {
        background: #dbe3ff url('../img/cross_circle.png');
        border-color: #a2b4ee;
        color: #585b66;
}

#login-box .notification div {
        display:block;
        font-style:normal;
        padding: 10px 10px 10px 36px;
        line-height: 1.5em;
}
