<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>SalsaAAC Administration</title>
	<link href="{{baseurl}}resources/admin/css/login-box.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div style="padding: 100px 0 0 50%;">
	<div id="login-box">
		<H2>Login</H2>
		{% if error is defined %}
		<div class="notification information">
			<div>{{error}}</div>
		</div>
		{% else %}
		<div style="margin-top: 56px"></dov>
		{% endif %}
		<form name="login" action="administration" method="post">
			<div id="login-box-name" style="margin-top:20px;">Username:</div><div id="login-box-field" style="margin-top:20px;"><input name="username" class="form-login" title="Username" value="" size="30" maxlength="2048" /></div>
			<div id="login-box-name">Password:</div><div id="login-box-field"><input name="password" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" /></div>
			<br />
			<span class="login-box-options"><a href="#" style="margin-left:30px;">Forgot password?</a></span>
			<br />
			<br />
			<input type="submit" value="Login" />
		</form>
	</div>
</div>
</body>
</html>
