{% extends "template.twig" %}

{% block content %}
		<fieldset id="search" class="list_left"> <!-- to make two field float next to one another, adjust values accordingly -->
			<label>Search</label>
			<div id="1">
                                <div style="width:12%; margin:0 9px; display: inline-block"></div>
                        
				<select id="field1" class="field">
					<option value="name">Name</option>
					<option value="account">Account</option>
					<option value="lastlogin">Last login</option>
					<option value="level">Level</option>
					<option value="group_id">Group</option>
				</select>
				<select id="operator1" class="operator">
					<option value="=">=</option>
					<option value="!=">!=</option>
					<option value=">">></option>
					<option value="<"><</option>
				</select>
				<a href="#" id="add" class="button"><img src="{{baseurl}}resources/admin/img/icons/plus_alt_16x16.png"></a>
				<div style="display: inline"><input id="filter_val1" class="filter_val" type="text" value=""></div>
			</div>
		</fieldset>
		<fieldset class="list_right"> <!-- to make two field float next to one another, adjust values accordingly -->
			<label>Order by</label>
			<select id="sortby" class="sortby">
				<option value="name">Name</option>
				<option value="lastlogin">Last login</option>
				<option value="level">Level</option>
			</select>
			<select id="order" class="order">
				<option value="asc">Ascending</option>
				<option value="desc">Descending</option>
			</select>
		</fieldset><div class="clear"></div>

		<div id="loading" style="display: none"><img src="{{baseurl}}resources/admin/img/ajax-loader.gif"></div>
		<article class="module width_full">
		<header>
			<h3 class="tabs_involved">Players</h3>
			<input id="filters" class="alt_btn" type="submit" value="Apply filters">
			<input id="go" type="submit" value="Go">
			<input id="gopage" type="text">
			<div id="menu"></div>
		</header>

		<div class="tab_container">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Name</th> 
    				<th>Account</th> 
    				<th>Last login</th> 
    				<th>Level</th>  
    				<th>Group</th> 
    				<th>Flags</th> 
				</tr> 
			</thead> 
			<tbody> 
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->		
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
<script type="text/javascript">
$(document).ready(function () {	
	var filters_num = 1;
	var pages = 0;

	function getfilters()
	{
		var output = '';

		$('fieldset#search div').each(function(index) {
			var id = $(this).attr('id');
			if ($('#filter_val'+id).val() != '')
			{
				output += '&criterium'+id+'='+$('select#criterium'+id).val()+'&field'+id+'='+$('select#field'+id).val()+'&operator'+id+'='+$('select#operator'+id).val()+'&filter_val'+id+'='+$('#filter_val'+id).val();
			}
		});

		return output;
	}

	function loadData(page)
	{
		$('#loading').css('margin-left', $('section[id="main"]').width()/2 - 20);
		$('#loading').fadeIn('fast');
		$.ajax({
			type: "POST",
			url: "/adminactions/getplayerslist.json",
			data: "page="+page+"&sortby="+$('select#sortby').val()+"&order="+$('select#order').val()+getfilters(),
			async: false,
    			dataType: "json",
			success: function(data)
			{
				$('#loading').fadeOut();
				$("tbody").html(data.message);
				$("#menu").html(data.menu);
				$('#sidebar').height($(document).height()-90);
				$('#main').height($(document).height()-90);
				$("#menu").css('margin-left', $(".tab_container").width()/2 - 106 - 9*data.max);
				$("#menu").css('width', 210 + 12*data.max);
				pages = data.max;
			}
		});
	}

	function groupsList(number, field)
	{
		$.ajax({
			type: "POST",
			url: "/adminactions/getgroupslist.json",
			data: "number="+number,
			async: false,
    			dataType: "json",
			success: function(data)
			{
				field.parent().html(data.select);
			}
		});
	}	

	loadData(1);

	$('select[id^="field"]').live('change',function(){
		var number = $(this).parent().attr('id');

                if (number == 1)
                {
		        $("#filter_val"+number).parent().html('<input id="filter_val'+number+'" class="filter_val" type="text" value="">');
                }
                else
                {
		        $("#filter_val"+number).parent().html('<input id="filter_val'+number+'" class="filter_val" type="text" style="margin-top:6px" value="">');
                }

		if ($(this).val() == 'lastlogin')
		{
			$(this).parent().find("#filter_val"+number+":first").datepicker({
				dateFormat: 'd MM yy',
				altField: $(this).parent().find("#filter_val"+number+":first")
			});
		}
		else
		{
			$(this).parent().find("#filter_val"+number+":first").datepicker( "destroy" );
		}

		if ($(this).val() == 'group_id')
		{
			groupsList(number, $(this).parent().find("#filter_val"+number+":first"));
		}
	});

	$('#menu ul#pagination li a').live('click',function(){
		var page = $(this).parent().attr('p');
		loadData(page);
	});
	$('article.module header input.alt_btn').live('click',function(){
		loadData(1);
		return true;
	});

	$('fieldset a#remove').live('click',function(){
		$(this).parent().remove();
		filters_num -= 1;		
	});

	$('input#go').live('click',function(){
		var page = $('input#gopage').val();
		if (isNaN(page) || page > pages || page <= 0) return false;
		else
		{
			loadData(page);		
		}
	});

	$('fieldset a#add').live('click',function(){
		if (filters_num < 5)
		{
			filters_num += 1;
			$('fieldset#search').append('<div id="'+filters_num+'"><select id="criterium'+filters_num+'" class="criterium" style="margin-top: 8px"><option value="AND">AND</option><option value="OR">OR</option></select><select id="field'+filters_num+'" class="field" style="margin-top: 8px"><option value="name">Name</option><option value="account">Account</option><option value="lastlogin">Last login</option><option value="level">Level</option><option value="group_id">Group</option></select><select id="operator'+filters_num+'" class="operator" style="margin-top: 8px; margin-left: 9px"><option value="=">=</option>	<option value="!=">!=</option><option value=">">></option><option value="<"><</option></select>'+
			'<a href="#" id="remove" class="button" style="margin: 10px 8px 0 0"><img src="{{baseurl}}resources/admin/img/icons/x_alt_16x16.png"></a><div style="display: inline"><input id="filter_val'+filters_num+'" class="filter_val" type="text" style="margin-top:6px" value=""></div></div>');
		}
	});
});
</script>
{% endblock %}
