{% extends "template.twig" %}

{% block content %}
		<fieldset id="search" style="width:58%; float:left; margin-right: 10px; margin-left: 30px"> <!-- to make two field float next to one another, adjust values accordingly -->
			<label style="width:100%">Search</label>
			<div id="1">
				<select id="field1" style="width:23%;  margin-top: 2px">
					<option value="name">Name</option>
					<option value="account">Account</option>
					<option value="lastlogin">Last login</option>
					<option value="level">Level</option>
					<option value="group">Group</option>
				</select>
				<select id="operator1" style="width:10%;  margin-top: 2px">
					<option value="=">=</option>
					<option value="!=">!=</option>
					<option value=">">></option>
					<option value="<"><</option>
				</select>
				<a href="#" id="add" style="float:right; margin: 4px 8px 0 0"><img src="{{baseurl}}resources/admin/img/icons/plus_alt_16x16.png"></a>
				<input id="filter_val1" type="text" style="width:49%;float:right" value="">
			</div>
		</fieldset>
		<fieldset style="width:35%; float:right; margin-right:20px"> <!-- to make two field float next to one another, adjust values accordingly -->
			<label style="width:100%">Sort by</label>
			<select id="sortby" style="width:55%;">
				<option value="name">Name</option>
				<option value="lastlogin">Last login</option>
				<option value="level">Level</option>
			</select>
			<select id="order" style="width:30%; margin-bottom: 4px">
				<option value="asc">Ascending</option>
				<option value="desc">Descending</option>
			</select>
		</fieldset><div class="clear"></div>

		<div id="loading" style="display: none"><img src="{{baseurl}}resources/admin/img/ajax-loader.gif"></div>
		<article class="module width_full">
		<header>
			<h3 class="tabs_involved">Players</h3>
			<input class="alt_btn" type="submit" value="Apply filters" style="float:right; margin: 5px">
			<input id="go" type="submit" value="Go" style="float:right; margin: 5px; margin-right: 10px">
			<input id="gopage" type="text" style="float:right; margin: 5px; width:20px; height:18px">
			<div id="menu"></div>
		</header>

		<div class="tab_container">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Name</th> 
    				<th>Account</th> 
    				<th>Last login</th> 
    				<th>Level</th>  
    				<th>Group</th> 
    				<th>Online</th> 
				</tr> 
			</thead> 
			<tbody> 
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->		
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
<script type="text/javascript">
$(document).ready(function () {	
	var filters_num = 1;
	var pages = 0;

	function getfilters()
	{
		var output = '';

		$('fieldset#search div').each(function(index) {
			var id = $(this).attr('id');
			if ($('input#filter_val'+id).val() != '')
			{
				output += '&field'+id+'='+$('select#field'+id).val()+'&operator'+id+'='+$('select#operator'+id).val()+'&filter_val'+id+'='+$('input#filter_val'+id).val();
			}
		});

		return output;
	}

	function loadData(page)
	{
		$('#loading').css('margin-left', $('section[id="main"]').width()/2 - 20);
		$('#loading').fadeIn('fast');
		$.ajax({
			type: "POST",
			url: "/adminactions/getplayerslist.json",
			data: "page="+page+"&sortby="+$('select#sortby').val()+"&order="+$('select#order').val()+getfilters()+'&filter_vals='+filters_num,
			async: false,
    			dataType: "json",
			success: function(data)
			{
				$('#loading').fadeOut();
				$("tbody").html(data.message);
				$("#menu").html(data.menu);
				$('#sidebar').height($(document).height()-90);
				$('#main').height($(document).height()-90);
				$("#menu").css('margin-left', $(".tab_container").width()/2 - 106 - 9*data.max);
				$("#menu").css('width', 210 + 14*data.max);
				pages = data.max;
			}
		});
	}

	loadData(1);

	$('select[id^="field"]').live('change',function(){
		var number = $(this).parent().attr('id');
		if ($(this).val() == 'lastlogin')
		{
			var field = $("input#filter_val"+number+":first");
			field.datepicker({
				dateFormat: 'd MM yy',
				altField: field
			});
		}
		else
		{
			$(this).parent().find("input#filter_val"+number+":first").datepicker( "destroy" );
		}
	});

	$('#menu ul#pagination li a').live('click',function(){
		var page = $(this).parent().attr('p');
		loadData(page);
	});
	$('article.module header input.alt_btn').live('click',function(){
		loadData(1);
		return true;
	});

	$('fieldset a#remove').live('click',function(){
		$(this).parent().remove();
		filters_num -= 1;		
	});

	$('input#go').live('click',function(){
		var page = $('input#gopage').val();
		if (isNaN(page) || page > pages || page <= 0) return false;
		else
		{
			loadData(page);		
		}
	});

	$('fieldset a#add').live('click',function(){
		if (filters_num < 5)
		{
			filters_num += 1;
			$('fieldset#search').append('<div id="'+filters_num+'"><select id="field'+filters_num+'" style="width:23%;  margin-top: 8px"><option value="name">Name</option><option value="account">Account</option><option value="lastlogin">Last login</option><option value="level">Level</option><option value="group">Group</option></select><select id="operator'+filters_num+'" style="width:10%;  margin-top: 8px"><option value="=">=</option>	<option value="!=">!=</option><option value=">">></option><option value="<"><</option></select>'+
			'<a href="#" id="remove" style="float:right; margin: 10px 8px 0 0"><img src="{{baseurl}}resources/admin/img/icons/x_alt_16x16.png"></a><input id="filter_val'+filters_num+'" type="text" style="width:49%;float:right; margin-top:6px" value=""></div>');
		}
	});
});
</script>
{% endblock %}
